* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.header {
    background-image: url(../img/background-header.jpg);
    text-align: center;
    padding: 20px;
}

.logo {
    width: 130px;
}

.container {
    display: flex;
}

.navBar {
    background-color: #a3a3a3;
    width: 20%;
    padding: 30px;
   
}

.navBar ul li {
    list-style: none;
    padding: 5px 0;
}

.navBar ul li a {
    text-decoration: none;
}

.navBar ul li a:hover {
    color:#ffffff;
}

.content {
   width: 80%;
   padding: 30px;
}
.content p {
    text-align: justify;
    height: 90px;
    line-height: 20px;
}

.footer {
    background-color: #808080;
    text-align: center;
    font-size: 12px;
    padding: 25px;
    

}
