* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.header {
    background-image: url(../img/background-header.jpg);
    text-align: center;
    padding: 100px 0;
}

.container {
    display: flex;
}

.navBar {
    background-color: #a3a3a3;
    width: 20%;
    padding: 30px;
   
}

li {
    list-style: none;
    padding: 5px 0;
}

li a {
    text-decoration: none;
}

li a:hover {
    color:#ffffff;
}

.content {
   width: 80%;
   padding: 30px;
}

.footer {
    background-color: #808080;
    text-align: center;
    padding: 20px;

}
